In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, count, sum, avg, from_unixtime, to_timestamp, get_json_object, trim, explode, first, from_json
from pyspark.sql.types import StructType, StringType, MapType, StringType
from pyspark.sql.window import Window

spark = SparkSession.builder \
    .appName("CafeRewardsDataPipeline") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()


customers_file = "/Users/rafaelcamara/dev/ballastlane/archive/customers.csv"
offers_file = "/Users/rafaelcamara/dev/ballastlane/archive/offers.csv"
events_file = "/Users/rafaelcamara/dev/ballastlane/archive/events.csv"

print("Ingesting raw data...")
customers_df = spark.read.csv(customers_file, header=True, inferSchema=True)
offers_df = spark.read.csv(offers_file, header=True, inferSchema=True)
raw_events_df = spark.read.csv(events_file, header=True, inferSchema=True)


# Identify if the offer was completed
events_df = raw_events_df.withColumn(
    "offer_completed",
    when(trim(col("event")) == "offer completed", lit(1)).otherwise(lit(0))
)

# flatten the JSON structure in the "value" column
# Explode the map to key-value pairs

# Parse the JSON string into a Map
value_map_df = events_df.withColumn("value_map", from_json(col("value"), MapType(StringType(), StringType())))

exploded_df = value_map_df.select(
    "customer_id", 
    "event", 
    explode("value_map").alias("key", "val"),
    "time",
    "offer_completed"
)

pivoted_df = exploded_df.groupBy("customer_id", "event", "time","offer_completed") \
    .pivot("key", ["offer_id", "reward", "amount"]) \
    .agg(first("val"))


events_df = pivoted_df.withColumn("event_timestamp_readable", 
                                             from_unixtime(col("time")))
events_df = events_df.withColumn("event_datetime", 
                                             to_timestamp(col("event_timestamp_readable")))

# Join dataframes
# Join events with offers to get offer details for each event
events_with_offers = offers_df.join(events_df, "offer_id", "left")


customer_with_events = customers_df.join(events_df, "customer_id", "left")

# Join with customers to get customer demographics
full_df = customers_df.join(events_with_offers, "customer_id", "left")

# Analytical Questions
print("\n--- Analytical Results ---")

# 1. Total number of customers
total_customers = customers_df.count()
print(f"Total number of customers: {total_customers}")

# 2. Total number of offers
total_offers = offers_df.count()
print(f"Total number of offers: {total_offers}")

# 3. Total number of events
total_events = events_df.count()
print(f"Total number of events: {total_events}")

# 4. Number of unique customers who made a purchase
unique_purchasing_customers = full_df.filter(col("event") == "transaction") \
                                     .select("customer_id").distinct().count()
print(f"Number of unique customers who made a purchase: {unique_purchasing_customers}")

# 5. Top 5 most popular offers (by number of views or purchases)
# Assuming popularity is based on purchases within the offer period
top_5_offers = full_df.filter(col("offer_completed") == 1) \
                      .groupBy("offer_id", "offer_type") \
                      .agg(count("offer_id").alias("purchase_count")) \
                      .orderBy(col("purchase_count").desc()) \
                      .limit(5)
print("\nTop 5 most popular offers (by number of completed offers):")
top_5_offers.show(truncate=False)

# 6. Average transaction amount
# Filter for purchase events only, extract "amount" from JSON in "value"
average_transaction_amount = events_df.filter(col("event") == "transaction") \
    .agg(avg(col("amount").cast("double"))).collect()[0][0]
    #.agg(avg(get_json_object(col("value"), "$.amount").cast("double"))).collect()[0][0]
print(f"Average transaction amount: {average_transaction_amount:.2f}")

# 7. Number of offers completed vs. not completed
completion_window = Window.partitionBy("offer_completed")

offers_completion_status= events_df.select(
    "offer_completed",
    count("*").over(completion_window).alias("completion_count")
).dropDuplicates()
"""
offers_completion_status = events_df.groupBy("offer_completed") \
                                   .agg(count("offer_id").alias("count"))
"""                                   
print("\nNumber of offers completed vs. not completed:")
offers_completion_status.show()

# 8. Distribution of customers by age group
# Assuming age is available in customers_df and is numerical
# For simplicity, let\'s define some age groups
customers_df = customers_df.withColumn("age_group", 
                                     when(col("age") < 25, "<25") \
                                     .when((col("age") >= 25) & (col("age") < 35), "25-34") \
                                     .when((col("age") >= 35) & (col("age") < 45), "35-44") \
                                     .when((col("age") >= 45) & (col("age") < 55), "45-54") \
                                     .when((col("age") >= 55) & (col("age") < 65), "55-64") \
                                     .otherwise("65+"))

age_distribution = customers_df.groupBy("age_group").agg(count("customer_id").alias("customer_count")) \
                               .orderBy("age_group")
print("\nCustomer distribution by age group:")
age_distribution.show()

# 9. Offers with highest completion rate
# Calculate total offers viewed/received and completed offers per offer_id
offer_summary = full_df.groupBy("offer_id", "offer_type") \
                         .agg(count("offer_id").alias("total_events"), 
                              sum(col("offer_completed")).alias("completed_offers"))

offer_completion_rate = offer_summary.withColumn(
    "completion_rate",
    when(col("total_events") != 0, (col("completed_offers") / col("total_events")) * 100).otherwise(None)
)

highest_completion_rate_offers = offer_completion_rate.orderBy(col("completion_rate").desc()) \
                                                       .limit(5)
print("\nOffers with highest completion rate:")
highest_completion_rate_offers.show(truncate=False)

# 10. Customer lifetime value (CLV) - simplified: total transaction amount per customer
customer_clv = customer_with_events.filter(col("event") == "transaction") \
                       .groupBy("customer_id") \
                       .agg(sum(col("amount").cast("double")).alias("total_spent")) \
                       .orderBy(col("total_spent").desc())

print("\nTop 10 Customers by Lifetime Value (Total Spent):")
customer_clv.limit(10).show()

spark.stop()

Ingesting raw data...

--- Analytical Results ---
Total number of customers: 17000
Total number of offers: 10

Total number of events: 303572

Number of unique customers who made a purchase: 0

Top 5 most popular offers (by number of completed offers):

+--------------------------------+----------+--------------+
|offer_id                        |offer_type|purchase_count|
+--------------------------------+----------+--------------+
|fafdcd668e3743c1bb461111dcafc2a4|discount  |4927          |
|2298d6c36e964ae4a3e7e9706d1fb8c2|discount  |4698          |
|9b98b8c7a33c4b65b9aebfe6a799e6d9|bogo      |3926          |
|f19421c1d4aa40978ebb69ca19b0e20d|bogo      |3877          |
|2906b810c7d4411798c6938adc9daaa5|discount  |3642          |
+--------------------------------+----------+--------------+

Average transaction amount: 12.78

Number of offers completed vs. not completed:

+---------------+----------------+
|offer_completed|completion_count|
+---------------+----------------+
|              0|          272955|
|              1|           30617|
+---------------+----------------+


Customer distribution by age group:
+---------+--------------+
|age_group|customer_count|
+---------+--------------+
|    25-34|          1380|
|    35-44|          1869|
|    45-54|          3013|
|    55-64|          3421|
|      65+|          6441|
|      <25|           876|
+---------+--------------+


Offers with highest completion rate:

+--------------------------------+----------+------------+----------------+---------------+
|offer_id                        |offer_type|total_events|completed_offers|completion_rate|
+--------------------------------+----------+------------+----------------+---------------+
|4d5c57ea9a6940dd891ad53e9dbe8da0|bogo      |2986        |2986            |100.0          |
|9b98b8c7a33c4b65b9aebfe6a799e6d9|bogo      |3926        |3926            |100.0          |
|2298d6c36e964ae4a3e7e9706d1fb8c2|discount  |4698        |4698            |100.0          |
|2906b810c7d4411798c6938adc9daaa5|discount  |3642        |3642            |100.0          |
|fafdcd668e3743c1bb461111dcafc2a4|discount  |4927        |4927            |100.0          |
+--------------------------------+----------+------------+----------------+---------------+

+--------------------+----------------+------+---+------+--------------------+----------+----------+------+--------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
|         customer_id|became_member_on|gender|age|income|            offer_id|offer_type|difficulty|reward|duration|            channels|          event|time|offer_completed|reward|amount|event_timestamp_readable|     event_datetime|
+--------------------+----------------+------+---+------+--------------------+----------+----------+------+--------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
|38fe809add3b4fcf9...|        20180712|  NULL|118|  NULL|                NULL|      NULL|      NULL|  NULL|    NULL|                NULL|           NULL|NULL|           NULL|  NULL|  NULL|                    NULL|               NULL|
|8ec6ce2a7e7949b1b...|        20170925|  NULL|118|  NULL|                NULL|      NULL|      NULL|  NULL|    NULL|                NULL|           NULL|NULL|           NULL|  NULL|  NULL|                    NULL|               NULL|
|8974fc5686fe429db...|        20161122|  NULL|118|  NULL|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed| 462|              1|     5|  NULL|     1969-12-31 21:07:42|1969-12-31 21:07:42|
|c4863c7985cf408fa...|        20170824|  NULL|118|  NULL|ae264e3637204a6fb...|      bogo|        10|    10|       7|['email', 'mobile...|offer completed| 684|              1|    10|  NULL|     1969-12-31 21:11:24|1969-12-31 21:11:24|
|0610b486422d4921a...|        20170715|     F| 55|112000|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed| 528|              1|     5|  NULL|     1969-12-31 21:08:48|1969-12-31 21:08:48|
|389bc3fa690240e79...|        20180209|     M| 65| 53000|2906b810c7d441179...|  discount|        10|     2|       7|['web', 'email', ...|offer completed| 498|              1|     2|  NULL|     1969-12-31 21:08:18|1969-12-31 21:08:18|
|389bc3fa690240e79...|        20180209|     M| 65| 53000|f19421c1d4aa40978...|      bogo|         5|     5|       5|['web', 'email', ...|offer completed|  60|              1|     5|  NULL|     1969-12-31 21:01:00|1969-12-31 21:01:00|
|389bc3fa690240e79...|        20180209|     M| 65| 53000|f19421c1d4aa40978...|      bogo|         5|     5|       5|['web', 'email', ...|offer completed| 600|              1|     5|  NULL|     1969-12-31 21:10:00|1969-12-31 21:10:00|
|68617ca6246f4fbc8...|        20171002|  NULL|118|  NULL|                NULL|      NULL|      NULL|  NULL|    NULL|                NULL|           NULL|NULL|           NULL|  NULL|  NULL|                    NULL|               NULL|
|68be06ca386d4c319...|        20170212|  NULL|118|  NULL|fafdcd668e3743c1b...|  discount|        10|     2|      10|['web', 'email', ...|offer completed| 552|              1|     2|  NULL|     1969-12-31 21:09:12|1969-12-31 21:09:12|
+--------------------+----------------+------+---+------+--------------------+----------+----------+------+--------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
only showing top 10 rows

+--------------------+------+
|         customer_id|amount|
+--------------------+------+
|0610b486422d4921a...|  NULL|
|148adfcaa27d485b8...|  NULL|
|2eeac8d8feae4a8ca...|  NULL|
|31dda685af34476ca...|  NULL|
|31dda685af34476ca...|  NULL|
|31dda685af34476ca...|  NULL|
|31dda685af34476ca...|  NULL|
|389bc3fa690240e79...|  NULL|
|389bc3fa690240e79...|  NULL|
|389bc3fa690240e79...|  NULL|
|38fe809add3b4fcf9...|  NULL|
|440cf1fd7580490c9...|  NULL|
|440cf1fd7580490c9...|  NULL|
|440cf1fd7580490c9...|  NULL|
|440cf1fd7580490c9...|  NULL|
|440cf1fd7580490c9...|  NULL|
|62cf5e10845442329...|  NULL|
|6445de3b47274c759...|  NULL|
|6445de3b47274c759...|  NULL|
|68617ca6246f4fbc8...|  NULL|
+--------------------+------+
only showing top 20 rows

+-----------+----------------+------+---+------+--------+----------+----------+------+--------+--------+-----+----+---------------+------+------+------------------------+--------------+
|customer_id|became_member_on|gender|age|income|offer_id|offer_type|difficulty|reward|duration|channels|event|time|offer_completed|reward|amount|event_timestamp_readable|event_datetime|
+-----------+----------------+------+---+------+--------+----------+----------+------+--------+--------+-----+----+---------------+------+------+------------------------+--------------+
+-----------+----------------+------+---+------+--------+----------+----------+------+--------+--------+-----+----+---------------+------+------+------------------------+--------------+

+--------------------+----------------+------+---+------+--------------------+----------+----------+------+--------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
|         customer_id|became_member_on|gender|age|income|            offer_id|offer_type|difficulty|reward|duration|            channels|          event|time|offer_completed|reward|amount|event_timestamp_readable|     event_datetime|
+--------------------+----------------+------+---+------+--------------------+----------+----------+------+--------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
|c05652fa9d2c4fac9...|        20180127|     M| 62| 73000|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed|  72|              1|     5|  NULL|     1969-12-31 21:01:12|1969-12-31 21:01:12|
|6be0513109fe4d738...|        20180613|     M| 42| 57000|2906b810c7d441179...|  discount|        10|     2|       7|['web', 'email', ...|offer completed| 450|              1|     2|  NULL|     1969-12-31 21:07:30|1969-12-31 21:07:30|
|9de54389816342449...|        20180422|  NULL|118|  NULL|                NULL|      NULL|      NULL|  NULL|    NULL|                NULL|           NULL|NULL|           NULL|  NULL|  NULL|                    NULL|               NULL|
|f5de20984950433d9...|        20150910|     M| 48| 75000|ae264e3637204a6fb...|      bogo|        10|    10|       7|['email', 'mobile...|offer completed| 420|              1|    10|  NULL|     1969-12-31 21:07:00|1969-12-31 21:07:00|
|f5de20984950433d9...|        20150910|     M| 48| 75000|ae264e3637204a6fb...|      bogo|        10|    10|       7|['email', 'mobile...|offer completed| 198|              1|    10|  NULL|     1969-12-31 21:03:18|1969-12-31 21:03:18|
|f5de20984950433d9...|        20150910|     M| 48| 75000|4d5c57ea9a6940dd8...|      bogo|        10|    10|       5|['web', 'email', ...|offer completed| 360|              1|    10|  NULL|     1969-12-31 21:06:00|1969-12-31 21:06:00|
|f5de20984950433d9...|        20150910|     M| 48| 75000|4d5c57ea9a6940dd8...|      bogo|        10|    10|       5|['web', 'email', ...|offer completed| 582|              1|    10|  NULL|     1969-12-31 21:09:42|1969-12-31 21:09:42|
|9da3f2339b244229a...|        20180109|     F| 49| 36000|2906b810c7d441179...|  discount|        10|     2|       7|['web', 'email', ...|offer completed| 528|              1|     2|  NULL|     1969-12-31 21:08:48|1969-12-31 21:08:48|
|fc58860830e648c9b...|        20180613|     M| 79| 64000|                NULL|      NULL|      NULL|  NULL|    NULL|                NULL|           NULL|NULL|           NULL|  NULL|  NULL|                    NULL|               NULL|
|f608dc84f5f744a88...|        20170502|     F| 68|115000|fafdcd668e3743c1b...|  discount|        10|     2|      10|['web', 'email', ...|offer completed| 678|              1|     2|  NULL|     1969-12-31 21:11:18|1969-12-31 21:11:18|
|f608dc84f5f744a88...|        20170502|     F| 68|115000|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed| 318|              1|     5|  NULL|     1969-12-31 21:05:18|1969-12-31 21:05:18|
|f608dc84f5f744a88...|        20170502|     F| 68|115000|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed|  54|              1|     5|  NULL|     1969-12-31 21:00:54|1969-12-31 21:00:54|
|7a5f837ad609476cb...|        20180321|     F| 24| 53000|f19421c1d4aa40978...|      bogo|         5|     5|       5|['web', 'email', ...|offer completed| 522|              1|     5|  NULL|     1969-12-31 21:08:42|1969-12-31 21:08:42|
|25540a042d7d4aabb...|        20171130|     F| 71|108000|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed| 630|              1|     5|  NULL|     1969-12-31 21:10:30|1969-12-31 21:10:30|
|e1e4b47968ef42509...|        20161221|     M| 42| 51000|9b98b8c7a33c4b65b...|      bogo|         5|     5|       7|['web', 'email', ...|offer completed| 444|              1|     5|  NULL|     1969-12-31 21:07:24|1969-12-31 21:07:24|
|e1e4b47968ef42509...|        20161221|     M| 42| 51000|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|    ['web', 'email']|offer completed| 564|              1|     5|  NULL|     1969-12-31 21:09:24|1969-12-31 21:09:24|
|5465e844845a4a5c8...|        20171120|     M| 65| 56000|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|    ['web', 'email']|offer completed| 690|              1|     5|  NULL|     1969-12-31 21:11:30|1969-12-31 21:11:30|
|5465e844845a4a5c8...|        20171120|     M| 65| 56000|f19421c1d4aa40978...|      bogo|         5|     5|       5|['web', 'email', ...|offer completed| 360|              1|     5|  NULL|     1969-12-31 21:06:00|1969-12-31 21:06:00|
|c029ebbd5e584674b...|        20171108|  NULL|118|  NULL|                NULL|      NULL|      NULL|  NULL|    NULL|                NULL|           NULL|NULL|           NULL|  NULL|  NULL|                    NULL|               NULL|
|05ea8d8a95eb4b209...|        20151103|     F| 62|111000|f19421c1d4aa40978...|      bogo|         5|     5|       5|['web', 'email', ...|offer completed|  48|              1|     5|  NULL|     1969-12-31 21:00:48|1969-12-31 21:00:48|
+--------------------+----------------+------+---+------+--------------------+----------+----------+------+--------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
only showing top 20 rows

+--------------------+----------+----------+------+--------+----------------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
|            offer_id|offer_type|difficulty|reward|duration|        channels|         customer_id|          event|time|offer_completed|reward|amount|event_timestamp_readable|     event_datetime|
+--------------------+----------+----------+------+--------+----------------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|ffa81afacde642a3a...|offer completed|  42|              1|     5|  NULL|     1969-12-31 21:00:42|1969-12-31 21:00:42|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|fe66b9029bf34fdba...|offer completed| 540|              1|     5|  NULL|     1969-12-31 21:09:00|1969-12-31 21:09:00|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|fcdf273bdfdb44a69...|offer completed| 540|              1|     5|  NULL|     1969-12-31 21:09:00|1969-12-31 21:09:00|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|fc3405b8b39d40cb8...|offer completed| 558|              1|     5|  NULL|     1969-12-31 21:09:18|1969-12-31 21:09:18|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|fadea3ebc62043659...|offer completed| 276|              1|     5|  NULL|     1969-12-31 21:04:36|1969-12-31 21:04:36|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f97ac1f446e747d49...|offer completed| 618|              1|     5|  NULL|     1969-12-31 21:10:18|1969-12-31 21:10:18|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f96754182a644785a...|offer completed| 348|              1|     5|  NULL|     1969-12-31 21:05:48|1969-12-31 21:05:48|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f930b6a55d964983b...|offer completed| 378|              1|     5|  NULL|     1969-12-31 21:06:18|1969-12-31 21:06:18|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f900feb23c6949d1a...|offer completed| 432|              1|     5|  NULL|     1969-12-31 21:07:12|1969-12-31 21:07:12|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f7e127d8fc0449338...|offer completed| 582|              1|     5|  NULL|     1969-12-31 21:09:42|1969-12-31 21:09:42|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f7a4d1d7beea4c049...|offer completed| 690|              1|     5|  NULL|     1969-12-31 21:11:30|1969-12-31 21:11:30|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f74033a8c6834303b...|offer completed| 576|              1|     5|  NULL|     1969-12-31 21:09:36|1969-12-31 21:09:36|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f630d4e757c042a08...|offer completed| 456|              1|     5|  NULL|     1969-12-31 21:07:36|1969-12-31 21:07:36|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f56f4b62551b4ab98...|offer completed| 540|              1|     5|  NULL|     1969-12-31 21:09:00|1969-12-31 21:09:00|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f4ef9a434c22420b8...|offer completed| 402|              1|     5|  NULL|     1969-12-31 21:06:42|1969-12-31 21:06:42|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f4e0715b897c480e9...|offer completed| 474|              1|     5|  NULL|     1969-12-31 21:07:54|1969-12-31 21:07:54|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f456bea341ef40179...|offer completed| 348|              1|     5|  NULL|     1969-12-31 21:05:48|1969-12-31 21:05:48|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f3acf14291c040a5b...|offer completed| 330|              1|     5|  NULL|     1969-12-31 21:05:30|1969-12-31 21:05:30|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f3934f05d51f47c7a...|offer completed| 456|              1|     5|  NULL|     1969-12-31 21:07:36|1969-12-31 21:07:36|
|0b1e1539f2cc45b7b...|  discount|        20|     5|      10|['web', 'email']|f16dd6ace9f94998b...|offer completed| 462|              1|     5|  NULL|     1969-12-31 21:07:42|1969-12-31 21:07:42|
+--------------------+----------+----------+------+--------+----------------+--------------------+---------------+----+---------------+------+------+------------------------+-------------------+
only showing top 20 rows

25/06/23 16:15:39 ERROR Executor: Exception in task 0.0 in stage 129.0 (TID 249)
org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '13.49' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== SQL (line 1, position 1) ==
amount > 0
^^^^^^^^^^

	at org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:338)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)
	at org.apache.spark.scheduler.Task.run(Task.scala:147)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)
25/06/23 16:15:40 WARN TaskSetManager: Lost task 0.0 in stage 129.0 (TID 249) (192.168.0.7 executor driver): org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '13.49' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== SQL (line 1, position 1) ==
amount > 0
^^^^^^^^^^

	at org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:338)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)
	at org.apache.spark.scheduler.Task.run(Task.scala:147)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)

25/06/23 16:15:40 ERROR TaskSetManager: Task 0 in stage 129.0 failed 1 times; aborting job
{"ts": "2025-06-23 16:15:40.055", "level": "ERROR", "logger": "SQLQueryContextLogger", "msg": "[CAST_INVALID_INPUT] The value '13.49' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018", "context": {"errorClass": "CAST_INVALID_INPUT"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o10774.showString.\n: org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '13.49' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018\n== SQL (line 1, position 1) ==\namount > 0\n^^^^^^^^^^\n\n\tat org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\n\tat org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)\n\tat org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)\n\tat org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)\n\tat org.apache.spark.rdd.RDD.iterator(RDD.scala:338)\n\tat org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)\n\tat org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)\n\tat org.apache.spark.scheduler.Task.run(Task.scala:147)\n\tat org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)\n\tat org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)\n\tat org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tat org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1009)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2484)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2505)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2524)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:544)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:497)\n\tat org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:58)\n\tat org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:402)\n\tat org.apache.spark.sql.execution.adaptive.ResultQueryStageExec.$anonfun$doMaterialize$1(QueryStageExec.scala:325)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$4(SQLExecution.scala:318)\n\tat org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:268)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$3(SQLExecution.scala:316)\n\tat org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$2(SQLExecution.scala:312)\n\tat java.base/java.util.concurrent.CompletableFuture$AsyncSupply.run(CompletableFuture.java:1768)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.11/site-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/usr/local/lib/python3.11/site-packages/py4j/protocol.py", "line": "327"}]}}
ERROR:SQLQueryContextLogger:[CAST_INVALID_INPUT] The value '13.49' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/site-packages/pyspark/errors/exceptions/captured.py", line 282, in deco
    return f(*a, **kw)
           ^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/py4j/protocol.py", line 327, in get_return_value
    raise Py4JJavaError(
py4j.protocol.Py4JJavaError: An error occurred while calling o10774.showString.
: org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value '13.49' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== SQL (line 1, position 1) ==
amount > 0
^^^^^^^^^^

	at org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)
	at org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:338)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)
	at org.apache.spark.scheduler.Task.run(Task.scala:147)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1009)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2484)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2505)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2524)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:544)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:497)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:58)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:402)
	at org.apache.spark.sql.execution.adaptive.ResultQueryStageExec.$anonfun$doMaterialize$1(QueryStageExec.scala:325)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$4(SQLExecution.scala:318)
	at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:268)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$3(SQLExecution.scala:316)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$2(SQLExecution.scala:312)
	at java.base/java.util.concurrent.CompletableFuture$AsyncSupply.run(CompletableFuture.java:1768)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)

+--------+----------+----------+------+--------+--------+-----------+-----+----+---------------+------+------+------------------------+--------------+
|offer_id|offer_type|difficulty|reward|duration|channels|customer_id|event|time|offer_completed|reward|amount|event_timestamp_readable|event_datetime|
+--------+----------+----------+------+--------+--------+-----------+-----+----+---------------+------+------+------------------------+--------------+
+--------+----------+----------+------+--------+--------+-----------+-----+----+---------------+------+------+------------------------+--------------+

+--------------------+---------------+----+---------------+--------------------+------+------+------------------------+-------------------+
|         customer_id|          event|time|offer_completed|            offer_id|reward|amount|event_timestamp_readable|     event_datetime|
+--------------------+---------------+----+---------------+--------------------+------+------+------------------------+-------------------+
|0009655768c64bdeb...|   offer viewed| 192|              0|                NULL|  NULL|  NULL|     1969-12-31 21:03:12|1969-12-31 21:03:12|
|0009655768c64bdeb...|   offer viewed| 372|              0|                NULL|  NULL|  NULL|     1969-12-31 21:06:12|1969-12-31 21:06:12|
|0011e0d4e6b944f99...|   offer viewed| 354|              0|                NULL|  NULL|  NULL|     1969-12-31 21:05:54|1969-12-31 21:05:54|
|0011e0d4e6b944f99...|    transaction| 132|              0|                NULL|  NULL| 13.49|     1969-12-31 21:02:12|1969-12-31 21:02:12|
|0020c2b971eb4e918...| offer received| 168|              0|                NULL|  NULL|  NULL|     1969-12-31 21:02:48|1969-12-31 21:02:48|
|0020c2b971eb4e918...|   offer viewed| 426|              0|                NULL|  NULL|  NULL|     1969-12-31 21:07:06|1969-12-31 21:07:06|
|0020ccbbb6d84e358...|offer completed| 378|              1|f19421c1d4aa40978...|     5|  NULL|     1969-12-31 21:06:18|1969-12-31 21:06:18|
|003d66b6608740288...|    transaction| 204|              0|                NULL|  NULL|  1.48|     1969-12-31 21:03:24|1969-12-31 21:03:24|
|003d66b6608740288...|    transaction| 402|              0|                NULL|  NULL|  5.94|     1969-12-31 21:06:42|1969-12-31 21:06:42|
|003d66b6608740288...|    transaction| 480|              0|                NULL|  NULL|  0.91|     1969-12-31 21:08:00|1969-12-31 21:08:00|
|00426fe3ffde4c6b9...|    transaction|  54|              0|                NULL|  NULL|  4.74|     1969-12-31 21:00:54|1969-12-31 21:00:54|
|004b041fbfe448599...|    transaction| 390|              0|                NULL|  NULL| 19.48|     1969-12-31 21:06:30|1969-12-31 21:06:30|
|004c5799adbf42868...|offer completed| 336|              1|ae264e3637204a6fb...|    10|  NULL|     1969-12-31 21:05:36|1969-12-31 21:05:36|
|004c5799adbf42868...|offer completed| 432|              1|f19421c1d4aa40978...|     5|  NULL|     1969-12-31 21:07:12|1969-12-31 21:07:12|
|004c5799adbf42868...| offer received| 504|              0|                NULL|  NULL|  NULL|     1969-12-31 21:08:24|1969-12-31 21:08:24|
|005500a7188546ff8...| offer received| 168|              0|                NULL|  NULL|  NULL|     1969-12-31 21:02:48|1969-12-31 21:02:48|
|0056df74b63b42988...| offer received| 504|              0|                NULL|  NULL|  NULL|     1969-12-31 21:08:24|1969-12-31 21:08:24|
|0056df74b63b42988...|   offer viewed|  24|              0|                NULL|  NULL|  NULL|     1969-12-31 21:00:24|1969-12-31 21:00:24|
|0063def0f9c14bc48...| offer received| 168|              0|                NULL|  NULL|  NULL|     1969-12-31 21:02:48|1969-12-31 21:02:48|
|0063def0f9c14bc48...|   offer viewed| 510|              0|                NULL|  NULL|  NULL|     1969-12-31 21:08:30|1969-12-31 21:08:30|
+--------------------+---------------+----+---------------+--------------------+------+------+------------------------+-------------------+
only showing top 20 rows

root
 |-- offer_id: string (nullable = true)
 |-- offer_type: string (nullable = true)
 |-- difficulty: integer (nullable = true)
 |-- reward: integer (nullable = true)
 |-- duration: integer (nullable = true)
 |-- channels: string (nullable = true)

root
 |-- customer_id: string (nullable = true)
 |-- event: string (nullable = true)
 |-- time: integer (nullable = true)
 |-- offer_completed: integer (nullable = false)
 |-- offer_id: string (nullable = true)
 |-- reward: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- event_timestamp_readable: string (nullable = true)
 |-- event_datetime: timestamp (nullable = true)

+--------+------+
|offer_id|amount|
+--------+------+
|    NULL| 13.49|
|    NULL|  1.48|
|    NULL|  5.94|
|    NULL|  0.91|
|    NULL|  4.74|
|    NULL| 19.48|
|    NULL|  2.06|
|    NULL| 22.33|
|    NULL| 24.88|
|    NULL|  5.11|
|    NULL|  0.91|
|    NULL|  1.06|
|    NULL| 32.45|
|    NULL|  0.48|
|    NULL|  3.24|
|    NULL|  5.07|
|    NULL|  6.92|
|    NULL|  2.51|
|    NULL|  5.96|
|    NULL| 11.27|
+--------+------+
only showing top 20 rows

+--------+------+
|offer_id|amount|
+--------+------+
+--------+------+


Top 10 Customers by Lifetime Value (Total Spent):

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
+-----------+-----------+